<template>
  <div id="app">
    <!-- 
      nav.navbar>.container>ul.navbar-nav>li.nav-item*5>router-link[to=$]{Link $$}
    -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
      <div class="container">
        <router-link class="navbar-brand" to="/" exact>Navbar</router-link>

        <button class="navbar-toggler" type="button" @click="expand = !expand">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" :class="{show:expand}">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <router-link active-class="placki active" class="nav-link" :to="{name:'Playlists'}">Playlists</router-link>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" to="/search">Search</router-link>
            </li>
          </ul>

          <UserProfile class="float-right text-white">
            <template #loggedin=" { user, logout } ">
              Welcome,
              <b>{{user.display_name}}</b>,
              <a href="#" @click="logout">Logout</a>
            </template>

            <template #default="{login}">
              <a href="#" @click="login">Login</a>
            </template>
          </UserProfile>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">

          <router-view></router-view>

          <router-view name="sidebar"></router-view>
        </div>
        <!-- <div class="col">
          <h1>{{ message }}</h1>
          <button @click="hide = !hide">Toggle</button>
          <MusicSearch v-if="hide" />
        </div>-->
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@import "~bootstrap/dist/css/bootstrap.css";
</style>

<script lang="ts">
import { Component, Prop, Vue, ProvideReactive } from "vue-property-decorator";
import Playlists from "./views/Playlists.vue";
import MusicSearch from "./views/MusicSearch.vue";
import { UserProfile } from "./services/Auth";
import { auth } from "./services";

@Component({
  components: {
    Playlists,
    MusicSearch
  },
  // provide(this: App) {
  //   return {
  //     user: this.user
  //   };
  // },
  subscriptions() {
    return {
      user: auth.getUserProfile()
      // user: { data: auth.user }
    };
  }
})
export default class App extends Vue {
  message = "MusicApp";
  expand = false;

  // provideUser = { user: null };

  @ProvideReactive()
  user: UserProfile | null = null;

  // mounted() {
  //   this.$subscribeTo(auth.getUserProfile(), () => {});
  //   this.$subscribeTo(auth.user, user => (this.user = user));
  // }

  beforeMount() {
    auth.init();
  }
}
</script>
