<template>
  <div class="card">
    <div class="card-header" v-if="$slots.header">
      <slot name="header">Card default title</slot>
    </div>
    
    <div class="card-body">
      <!-- <slot name="default"></slot> -->
      <slot></slot>
    </div>

    <!-- Dynamic slot -->
    <slot :name="extraSlotName"></slot>

    <div class="card-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({})
export default class Card extends Vue {
  extraSlotName = "placki";

  mounted() {
    // debugger;
    this.$slots;
  }
}
</script>