
<!-- <div>{{user.display_name}}</div> -->
<template>
  <div>
    <slot name="loggedin" v-if="user" v-bind="{user,login,logout}">{{user.display_name}}</slot>

    <slot v-if="!user" v-bind:user="user" v-bind:login="login" v-bind:logout="logout"></slot>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, InjectReactive } from "vue-property-decorator";
import { UserProfile } from "@/services/Auth";
import { auth } from "@/services";

@Component({
  // inject: ["user"]
})
export default class extends Vue {
  @InjectReactive() readonly user!: UserProfile | null;

  logout() {
    auth.logout();
  }
  login() {
    auth.authorize();
  }
}
</script>