<template>
  <div>
    <!-- .list-group>.list-group-item{Text} -->
    <div class="list-group">
      <div
        class="list-group-item"
        v-for="(playlist,i) of playlists"
        :class="{
          active: selected && selected.id == playlist.id
        }"
        @click.self="select(playlist)"
        :key="playlist.id"
      >
        {{i+1}}. {{playlist.name}}
        <span class="close" @click.stop="remove(playlist)">&times;</span>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Playlist } from "../../model/Playlist";
import Playlists from "../../views/Playlists.vue";

@Component({})
export default class PlaylistList extends Vue {
  @Prop({
    required: true
  })
  playlists!: Playlist[];

  @Prop()
  selected!: Playlist;

  remove(playlist: Playlist) {
    console.log("remove");
  }

  select(playlist: Playlist) {
    console.log("select");
    this.$emit("selectedPlaylist", playlist /*  <- $event */);
  }
}
</script>