<template>
  <div>
    Playlist Form
    <!-- .form-group>label{Name:}+input.form-control -->

    <pre>{{ playlist }}</pre>
    <pre>{{ draft }}</pre>

    <div class="form-group">
      <label>Name:</label>
      <input ref="nameInputRef" type="text" class="form-control" v-model="draft.name" />
      <!-- :value="draft.name"
      @input=" draft.name = $event.target.value "-->
      {{ 170 - draft.name.length}} / 170
    </div>

    <!-- .form-group>label{Public:}+input[type=checkbox] -->
    <div class="form-group">
      <label>
        <input type="checkbox" v-model="draft.public" /> Public
      </label>
    </div>

    <!-- .form-group>label{Description:}+textarea.form-control -->
    <div class="form-group">
      <label>Description:</label>
      <textarea class="form-control" v-model="draft.description"></textarea>
    </div>

    <!-- <label>
      <input type="checkbox" v-model="namesList" value="Jack" />Jack
    </label>
    <label>
      <input type="checkbox" v-model="namesList" value="Jim" />Jim
    </label>
    <label>
      <input type="checkbox" v-model="namesList" value="Johnny" />Johnny
    </label>
    {{namesList}} -->
    <button class="btn btn-danger" @click="$emit('cancel')">Cancel</button>
    <button class="btn btn-success" @click="save()">Save</button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch, Ref } from "vue-property-decorator";
import { Playlist } from "../../model/Playlist";

@Component({})
export default class PlaylistForm extends Vue {
  // namesList: ("Jack" | "Jim" | "Johny")[] = [];

  @Prop({
    required: true
  })
  playlist!: Playlist;

  draft: Playlist | null = null;

  @Watch("playlist", { immediate: true })
  onPlaylistChange(nextPlaylist: Playlist) {
    this.draft = { ...nextPlaylist };
  }

  // @Watch("draft.name", { immediate: true })
  @Watch("draft", { immediate: true, deep: true })
  onDraftChange(nextPlaylist: Playlist) {
    // this.draft = {...nextPlaylist}
    // console.log(nextPlaylist);
  }

  save() {
    this.$emit("save", this.draft);
  }

  // https://vuejs.org/v2/guide/instance.html#Lifecycle-Diagram
  // https://vuejs.org/v2/api/#Options-Lifecycle-Hooks

  beforeCreate() {
    // console.log("beforeCreate");
  }
  created() {
    // console.log("created");
  }

  @Ref() readonly nameInputRef!: HTMLInputElement;

  beforeMount() {
    // this.draft = { ...this.playlist };
    // console.log("beforeMount");
  }
  mounted() {
    // console.log("mounted");
    this.nameInputRef?.focus();
  }

  beforeUpdate() {
    // console.log("beforeUpdate");
  }
  updated() {
    // console.log("updated");
  }

  beforeDestroy() {
    // console.log("beforeDestroy");
  }
  destroyed() {
    // console.log("destroyed");
  }
}
</script>