<template>
  <Card>
    <dl v-bind:title="playlist.name" :id="playlist.id" :data-playlist-id="playlist.id">
      <dt>Name:</dt>
      <dd>{{ playlist.name }}</dd>

      <dt>Public:</dt>
      <dd
        :class="{
          'is-public': playlist.public,
          'is-private': !playlist.public 
        }"
      >{{ playlist.public | yesno }}</dd>

      <dt>Description:</dt>
      <dd>{{ playlist.description }}</dd>
    </dl>

    <template v-slot:footer>
      <button class="btn btn-info" @click="$emit('edit')">Edit</button>
    </template>

    <!-- <template v-slot:placki>
      <h3>{{playlist.name}}</h3>
    </template>-->

    <!-- <template v-slot:header>
      <h3>{{playlist.name}}</h3>
    </template>-->
  </Card>
</template>

<style lang="css" scoped>
.is-public,
.is-private {
  border-bottom: 1px solid;
}

.is-public {
  color: red;
  border-bottom-color: currentColor;
}
.is-private {
  color: green;
  border-bottom-color: currentColor;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Playlist } from "../../model/Playlist";

@Component({
  props: ["playlist"]
})
export default class PlaylistDetails extends Vue {
  @Prop({ required: true }) playlist!: Playlist;
}
</script>