
<template>
  <div class="media">
    <img :src="album.images[2].url" class="mr-3" />

    <div class="media-body">
      <h5 class="h5">{{album.name}}</h5>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Album } from "@/model/Search";

@Component({})
export default class AlbumRow extends Vue {
  @Prop({ required: true }) album!: Album;
}
</script>