
<template>
  <div class="card">
    <img :src="album.images[0].url" class="card-img-top" />

    <div class="card-body">
      <h5 class="card-title">
        <router-link
          :to="{
              name: 'AlbumDetails',
              params: {album_id:album.id}
        }"
        >{{album.name}}</router-link>
      </h5>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Album } from "@/model/Search";

@Component({})
export default class AlbumCard extends Vue {
  @Prop({ required: true }) album!: Album;
}
</script>