<template>
  <div>
    <!-- <div>Album Details {{$route.params.album_id}}</div> -->
    <div v-if="!album" class="alert alert-info">Loading ...</div>
    <div class="row">
      <div class="col">
        <div v-if="album">
          <AlbumCard :album="album" />
        </div>
      </div>
      <div class="col" v-if="album">
        <audio
          class="w-100 mb-3"
          controls
          :src="currentTrack && currentTrack.preview_url"
          ref="audioRef"
        ></audio>

        <div class="list-group">
          <div
            v-for="track of tracks"
            class="list-group-item"
            :class="{ 'active': currentTrack && currentTrack.id == track.id }"
            :key="track.id"
          >
            <span>{{track.track_number}} {{track.name}}</span>
            <button class="btn btn-link float-right" @click="playTrack(track)">Play</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Ref } from "vue-property-decorator";
import { Subject, BehaviorSubject, of } from "rxjs";
import { Album } from "@/model/Search";
import { MusicSearch } from "@/services/MusicSearch";
import { musicSearch } from "@/services";
import { map, switchMap } from "rxjs/operators";

import AlbumCard from "../components/albums/AlbumCard.vue";
import { Track } from "@/model/Track";

@Component({
  components: {
    AlbumCard
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      (vm as AlbumDetails).album_id.next(to.params["album_id"]);
    });
  },
  subscriptions(this: AlbumDetails) {
    return {
      album: this.album_id.pipe(
        switchMap(id => (id ? this.service.fetchAlbum(id) : of(null)))
      )
    };
  }
})
export default class AlbumDetails extends Vue {
  album_id = new BehaviorSubject<Album["id"] | null>(null);

  service = musicSearch;

  album!: Album | null;

  currentTrack: Track | null = null;

  get tracks() {
    return this.album?.tracks ? this.album.tracks.items : [];
  }

  @Ref() readonly audioRef?: HTMLAudioElement;

  playTrack(track: Track) {
    this.currentTrack = track;
    
    this.$nextTick(() => {
      // this.$refs.audioRef.
      if (this.audioRef) {
        this.audioRef.volume = 0.2;
        
        this.audioRef.paused? this.audioRef.play() : this.audioRef.pause()
      }
    });
  }
}
</script>