<template>
  <div>
    <div class="row">
      <div class="col">
        <!-- v-stream:search="search$" -->
        <SearchForm
          @search="searchAlbums"
          v-model="query"
          class="lubie-placki"
          placeholder="Search albums"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <SearchResults :results="results" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Provide, Watch } from "vue-property-decorator";
import SearchForm from "@/components/search/SearchForm.vue";
import SearchResults from "@/components/search/SearchResults.vue";
import { Album } from "@/model/Search";
import { Subject } from "rxjs";
import { tap } from "rxjs/operators";

import { Route } from "vue-router";
import { musicSearch } from '@/services';

@Component({
  components: {
    SearchForm,
    SearchResults
  },
  subscriptions(this: MusicSearch) {
    return {
      query: musicSearch.queryChange,
      results: musicSearch.resultsChange
    };
  },
  beforeRouteEnter(to, from, next) {
    // next('/playlists')
    // next({name:'Playlists'})
    // next(false)
    // next()
    // next((vm: MusicSearch) => {})
    // musicSearch.searchAlbums(to.query.query as string);
    // fetch(...).then(resp => next(vm => vm.results = resp.result))
    // setTimeout(() => {
    //   next(vm => (vm.query = "placki"));
    // }, 2000);
    next((vm: MusicSearch) => {
      vm.loadDataFromRoute(to);
    });
  },
  beforeRouteUpdate(this: MusicSearch, to, from, next) {
    this.loadDataFromRoute(to);
    next()
  },
  beforeRouteLeave(to, from, next) {
    next();
  }
})
export default class MusicSearch extends Vue {
  results!: Album[];
  query!: string;
  // search$ = new Subject();
  // @Provide() musicService = musicSearch

  // @Watch("$route")
  // @Watch("$route.query.query")
  // routeQueryChange(query: string) {
  //   // const query = this.$route.query["query"];
  //   if ("string" == typeof query) {
  //     this.query = query;
  //     musicSearch.searchAlbums(query);
  //   }
  // }

  loadDataFromRoute(route: Route) {
    const query = route.query["query"];
    if ("string" == typeof query) {
      this.query = query;
      musicSearch.searchAlbums(query);
    }
  }

  mounted() {}

  searchAlbums(query: string) {
    // this.$router.push('/search?query='+query)
    this.$router.push({
      name: "Search",
      query: {
        // query: [query,query]
        query: query
      }
    });
  }
}
</script>