<template>
  <div>
    <!-- .row>.col*2 -->
    <div class="row">
      <div class="col">
        <PlaylistList
          :playlists="playlists"
          @selectedPlaylist=" select($event) "
          :selected="selected"
        />
      </div>
      <div class="col">
        <router-view></router-view>

        <PlaylistDetails
          v-if="selected && mode === DisplayModes.show"
          :playlist="selected"
          @edit="edit"
        />

        <PlaylistForm
          ref="formRef"
          v-else-if="selected"
          :playlist="selected"
          @cancel="cancel()"
          @save="save"
        />

        <div v-else>Please select playlist</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component,
  Prop,
  Vue,
  Watch,
  InjectReactive,
  ProvideReactive,
  Provide
} from "vue-property-decorator";
import PlaylistList from "../components/playlists/PlaylistsList.vue";
import PlaylistDetails from "../components/playlists/PlaylistDetails.vue";
import PlaylistForm from "../components/playlists/PlaylistForm.vue";
import { Playlist } from "@/model/Playlist";
import { component } from "vue/types/umd";
import { UserProfile } from "@/services/Auth";
import { playlistsService } from "@/services";
import { BehaviorSubject, of } from "rxjs";
import { map, switchMap } from "rxjs/operators";

enum DisplayModes {
  show = "show",
  edit = "edit"
}

@Component({
  components: {
    PlaylistForm,
    PlaylistDetails,
    PlaylistList
  },
  subscriptions(this: Playlists) {
    return {
      playlists: this.service.playlistsChange,
      selected: this.selectedId.pipe(
        switchMap(id => (id ? this.service.getPlaylist(id) : of(null)))
      )
    };
  },
  beforeRouteEnter(to, from, next) {
    next((vm: Playlists) => vm.selectedId.next(to.params["playlist_id"]));
  },
  beforeRouteUpdate(this: Playlists, to, from, next) {
    this.selectedId.next(to.params["playlist_id"]);
    next();
  }
})
export default class Playlists extends Vue {
  DisplayModes = DisplayModes;
  mode: DisplayModes = DisplayModes.show;

  @InjectReactive() user!: UserProfile | null;

  mounted() {
    this.user && this.service.getUserPlaylists(this.user.id);
  }

  private selectedId = new BehaviorSubject<Playlist["id"] | null>(null);

  playlists!: Playlist[];
  @Provide() service = playlistsService;

  edit() {
    this.mode = DisplayModes.edit;
  }

  cancel() {
    this.mode = DisplayModes.show;
    this.selectedId.next(null);
  }

  save(draft: Playlist) {
    this.$subscribeTo(this.service.savePlaylist(draft), saved => {
      this.selectedId.next(draft.id);
      this.mode = DisplayModes.show;
    });
  }

  select(playlist: Playlist) {
    if (this.selectedId.getValue() === playlist.id) {
      return;
    }
    this.$router.replace({
      name: "Playlists",
      params: { playlist_id: playlist.id }
    });
  }
}
</script>