
<template>
  <form @submit.prevent="sendSearch()">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        v-bind=" $attrs "
        v-on="$listeners"
        :value="value"
        v-stream:input="queryInputEvents$"
      />

      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    </div>
  </form>
</template>

<script lang="ts">
import { Component, Prop, Vue, Model, Emit } from "vue-property-decorator";
import { Subject } from "rxjs";
import {
  pluck,
  map,
  find,
  filter,
  debounceTime,
  distinctUntilChanged,
  tap
} from "rxjs/operators";

@Component({
  inheritAttrs: false,
  subscriptions(this: SearchForm) {
    return {
      // HTMLInput 'input' events to stream
      query: this.queryChanges,

      // Listen to local "my-model-input" event
      search: this.searchChanges
    };
  }
})
export default class SearchForm extends Vue {
  @Model("my-model-input", {}) value!: string;

  queryInputEvents$ = new Subject<{
    event: { target: HTMLInputElement };
  }>();

  query!: string;
  queryChanges = this.queryInputEvents$.pipe(
    map(({ event }) => event.target.value),
    tap(query => this.$emit("my-model-input", query))
  )

  search!: string;
  searchChanges = this.$eventToObservable("my-model-input").pipe(
    map(({ msg }) => msg),
    debounceTime(400),
    filter(query => query.length >= 3),
    distinctUntilChanged(),
    tap(query => this.$emit("search", query))
  );

  sendSearch() {
    this.$emit("search", this.value);
  }
}
</script>