
<template>
  <div>
    <button @click="switchCmp">Change Mode</button>
    <div :class="{'card-group':mode =='card'}">
      <div :is="resultCmp" v-for="result of results" :key="result.id" :album="result" />
    </div>
  </div>
</template>

<style lang="css" scoped>
.card {
  min-width: 25%;
}
</style>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Album } from "@/model/Search";
// import AlbumCard from "../albums/AlbumCard.vue";
// import AlbumRow from "../albums/AlbumRow.vue";

 const AlbumCard = () => import(/* webpackChunkName: "albumCard" */ "../albums/AlbumCard.vue")
 const AlbumRow = () => import(/* webpackChunkName: "albumRow" */ "../albums/AlbumRow.vue")

@Component({
  components: {
    AlbumCard
  }
})
export default class SearchResults extends Vue {
  @Prop({ required: true }) results!: Album[];

  mode: "row" | "card" = "card";

  get resultCmp() {
    return this.mode == "card" ? AlbumCard : AlbumRow;
  }

  switchCmp() {
    this.mode = this.mode == "card" ? "row" : "card";
  }
}
</script>